*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 102%;
}

body, .hero-body {
  background: #cfd8dc;
}

.hero-body {
  margin-top: 25px;
}

.nav {
  position: fixed;
  width: 100%;
}

[v-cloak] {
  display: none;
}

.title {
  color: rgba(33, 150, 243, 1);
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}
