*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 102%;
}

.footer {
  background-color: white;
}

.block {
   margin-left: 20px;
}

.hero-body {
  margin-top: 25px;
}

.nav {
  position: fixed;
  width: 100%;
}

[v-cloak] {
  display: none;
}

.title {
  color: rgba(33, 150, 243, 1);
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

tr.tselect {
  background-color: rgba(33, 150, 243, .5);
}

tr.tselect:hover {
  background-color: rgba(33, 150, 243, .65);
}

.label {
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: normal;
  margin-bottom: 0;
  transform-origin: left;
  transition: color 0.1s ease, transform 0.2s ease;
}
